<div class="flex flex-col justify-between md:flex-row md:items-center">
  <h1 class="text-primary mt-4 mb-5 text-4xl font-bold">Catálogo de Categorías</h1>
  <div class="flex flex-col gap-4 sm:flex-row">
    <p-inputgroup>
      <p-inputgroup-addon>
        <svg data-p-icon="search" />
      </p-inputgroup-addon>
      <p-iconfield>
        <input
          pInputText
          placeholder="Buscar"
          pSize="large"
          [value]="searchQuery()"
          (input)="searchQuery.set($any($event.target).value)"
        />
        @if (searchQuery()) {
          <p-inputicon (click)="searchQuery.set('')" class="cursor-pointer">
            <svg data-p-icon="times"></svg>
          </p-inputicon>
        }
      </p-iconfield>
    </p-inputgroup>
    <button pButton (click)="openCreateDialog()" size="large" class="sm:w-3xs">
      <svg data-p-icon="plus"></svg> Nueva categoría
    </button>
  </div>
</div>

<div class="mt-6 grid grid-cols-1 gap-6 md:grid-cols-2">
  <app-category-list
    [categories]="incomeCategories()"
    flowType="INCOME"
    (show)="openViewDialog($event)"
    (edit)="openEditDialog($event)"
  />
  <app-category-list
    [categories]="expenseCategories()"
    flowType="EXPENSE"
    (show)="openViewDialog($event)"
    (edit)="openEditDialog($event)"
  />
</div>

<p-dialog
  [visible]="formDialogState() !== null"
  (visibleChange)="!$event && closeFormDialog()"
  (onHide)="handleFormDialogHidden()"
  [header]="formDialogState()?.mode === 'edit' ? 'Editar categoría' : 'Nueva categoría'"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '20rem' }"
>
  <ng-template #content>
    @if (renderedFormState(); as state) {
      <app-category-form
        [initialValue]="state.mode === 'edit' ? state.category : undefined"
        [onSubmit]="state.mode === 'edit' ? handleUpdateCategory(state.category.id) : handleCreateCategory"
        (canceled)="closeFormDialog()"
      />
    }
  </ng-template>
</p-dialog>

<p-dialog
  [visible]="viewDialogVisible()"
  (visibleChange)="!$event && closeViewDialog()"
  (onHide)="handleViewDialogHidden()"
  header="Detalles de la categoría"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '32rem' }"
>
  <ng-template #content>
    @if (renderViewDialog()) {
      @if (categoryDetail.value(); as category) {
        <app-category-detail-view [category]="category" />
      }
    }
  </ng-template>
</p-dialog>
